<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="Default" connectionString="Data Source=(LocalDb)\v12.0;Initial Catalog=ABTest;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"/>
  </connectionStrings>
</configuration>